[user]
	email = jatron@users.noreply.github.com
	name = Jorge Troncoso
[core]
	editor = vim
[push]
	default = simple
# Sources of git aliases
# https://victorzhou.com/blog/git-aliases/
[alias]
	a = add .
	au = add -u
	br = branch
	c = commit
	cam = commit --amend
	cane = commit --amend --no-edit
	cb = checkout -b
	co = checkout
	cp = cherry-pick
	cs = commit -s
	csd = commit -s -m 'DO NOT SUBMIT' -e
	cse = commit -s -m 'EXPERIMENTAL' -e
	cswip = commit -s -m 'WIP' -e
	d = diff
	dc = diff --cached
	f = fetch
	last = log -1 HEAD
	lgo = log --graph --oneline
	list-authors = log --format='%aN'
	ll = log --oneline --decorate -n5
	logod = log --oneline --decorate
	lp = log -p
	map = log --graph --oneline --all --decorate
	p = push
	pr = pull --rebase
	ref = reflog -20 --date=iso
	ri = rebase -i
	s = status
[merge]
	tool = meld
[mergetool "meld"]
	# Choose one of these 2 lines (not both!)
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	# cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
# source: http://timstaley.co.uk/posts/making-git-and-jupyter-notebooks-play-nice/
[core]
	attributesfile = ~/.gitattributes_global
[filter "nbstrip_full"]
	clean = "jq --indent 1 \
			'(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
			| (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
			| .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
			| .cells[].metadata = {} \
			'"
	smudge = cat
	required = true
# Remember GitHub credentials
# https://docs.github.com/en/github/getting-started-with-github/caching-your-github-credentials-in-git
[credential]
	helper = osxkeychain
[advice]
	detachedHead = false

